@import "src/styles/index.scss";

.answerId {
  display: block;
  @include ellipse();
}
.answerContent {
  cursor: pointer;
  @include ellipse();
}
.notApprove,
.delete,
.offline {
  color: $red;
}
.approve,
.online {
  color: $green;
}
.delayApprove,
.waitUpload {
  color: $yellow;
}

.activeRow {
  background: #faed8b;
}

:global {
  tr {
    height: 35px;
    td,
    th {
      padding: 0 !important;
    }
  }
  .ant-table-pagination.ant-pagination {
    margin: 10px 0 5px !important;
  }
}
