@import "src/styles/index.scss";
.preview {
  .utils {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    .dataUrl {
      :global {
        .w-e-text-container {
          height: 100px !important;
        }
        .w-e-toolbar {
          display: none;
        }
      }
    }
    .nolabel {
      :global {
        .ant-form-item-label > label::after {
          content: unset;
        }
      }
    }
    .operationButton {
      display: flex;
      justify-content: space-between;
    }
  }
  .images {
    display: flex;
    ul {
      max-width: 800px;
      display: flex;
      overflow-x: auto;
      padding-bottom: 20px;
      margin-bottom: 10px;
      li + li {
        margin-left: 10px;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        border: 1px solid #a7a7a7;
        &.active {
          border: 2px solid $yellow;
        }
        .imageContainer {
          width: 100px;
          height: 65px;
          overflow: auto;
          img {
            width: 100px;
          }
        }

        .imageUtil {
          width: 100%;
          justify-content: space-between;
          align-items: center;
          display: flex;
          position: absolute;
          bottom: -22px;
          .seeIcon {
            justify-content: space-between;
            align-items: center;
            display: flex;
          }
        }
      }
    }
  }
  .previewContainer {
    display: flex;
    justify-content: center;
    .answer {
      box-shadow: 2px 2px 5px #333333;
      width: 694px;
    }
  }
}
