@import "src/styles/index.scss";
.Scrapy {
  padding: 10px;
  display: flex;
  .answerContent {
    @include ellipse();
  }
  > div + div {
    margin-left: 10px;
  }
  > div {
    flex-grow: 1;
    background: white;
    padding: 20px;
    &.list {
    }
    &.editor {
      width: 50%;
    }
  }
}
