@import "src/styles/index.scss";

.Scrapy {
  padding: 10px;
  display: flex;
  flex-direction: column;
  .switchNavs {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
}
