@import "src/styles/index.scss";
.preview {
  img[data-original] {
    background: red;
    max-width: 400px;
  }
  .images {
    ul {
      display: flex;
      overflow-x: auto;
      padding-bottom: 20px;
      margin-bottom: 10px;
      li + li {
        margin-left: 10px;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        border: 1px solid #a7a7a7;
        .imageContainer {
          width: 100px;
          height: 60px;
          overflow: auto;
          img {
            width: 100px;
          }
        }

        .clipboard {
          position: absolute;
          bottom: -20px;
        }
      }
    }
  }
}
