@import "src/styles/index.scss";
.preview {
  .utils {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    .dataUrl {
      :global {
        .w-e-text-container {
          height: 100px !important;
        }
        .w-e-toolbar {
          display: none;
        }
      }
    }
    .nolabel {
      :global {
        .ant-form-item-label > label::after {
          content: unset;
        }
      }
    }
    .operationButton {
      display: flex;
      justify-content: space-between;
    }
  }
  .images {
    ul {
      display: flex;
      overflow-x: auto;
      padding-bottom: 20px;
      margin-bottom: 10px;
      li + li {
        margin-left: 10px;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        border: 1px solid #a7a7a7;
        &.active {
          border: 2px solid $yellow;
        }
        .imageContainer {
          width: 100px;
          height: 60px;
          overflow: auto;
          img {
            width: 100px;
          }
        }

        .clipboard {
          position: absolute;
          bottom: -20px;
        }
      }
    }
  }
  .previewContainer {
    display: flex;
    justify-content: center;
  }
  .answerPreview {
    box-shadow: 2px 2px 5px #333333;
    width: 694px;
    padding: 16px 20px;
    color: #1a1a1a;
    font-size: 15px;
    h2 {
      font-size: 18px;
      font-weight: bold;
    }
    h3 {
      font-size: 16px;
    }
    img,
    figcaption {
      max-width: 100%;
    }
    figcaption {
      display: flex;
      justify-content: center;
      color: #999;
    }
    :global {
      .GifPlayer {
        text-align: center;
      }
      .GifPlayer-icon {
        display: none;
      }
    }
  }
}
