@import "src/styles/index.scss";

.limitContent {
  @include ellipse();
}
.online {
  color: $green;
}
.offline {
  color: $red;
}
.waiting {
  color: $yellow;
}

.info {
  li + li {
    margin-top: 10px;
  }
}
.currentDb {
  background: #c4ffe3;
}
