@import "src/styles/index.scss";
.copy {
  display: flex;
  align-items: center;
  &.ellipesRows {
    .short,
    .normal {
      @include ellipseRows(3);
    }
  }
  .short {
    @include ellipse();
  }
  .normal {
    word-break: break-all;
    word-wrap: break-word;
  }
  .icon {
    line-height: 1;
    margin-left: 3px;
  }
}
