.xianyu {
  width: 100%;
  .short {
    display: flex;
    li + li {
      margin-left: 10px;
      span {
        margin-right: 2px;
      }
    }
  }
  .imagesList {
    display: flex;
    flex-wrap: wrap;
    li {
      padding: 5px;
    }
  }
  .linkimg {
    max-height: 100px;
  }
  .versionManage {
    display: flex;
    > div + div {
      margin-left: 10px;
    }
    > div {
      display: flex;
      > span {
        margin-right: 3px;
      }
      ul {
        display: flex;
        li + li {
          margin-left: 5px;
        }
      }
    }
  }
}
