html,
body {
  margin: 0;
  padding: 0;
  background: rgb(236, 236, 236);
}

body,
#root,
.App {
  display: flex;
  flex-direction: column;
}
#root {
  flex-grow: 1;
}
.App {
  flex-grow: 1;
}
.page {
  flex-grow: 1;
}

.w-e-text-container {
  z-index: 0 !important;
}

.w-e-menu {
  z-index: 1 !important;
}
.w-e-toolbar {
  overflow-x: auto;
}

.ant-form-item {
  margin-bottom: 12px;
}

.ant-notification {
  z-index: 10002;
}

.ant-notification-notice-description {
  word-break: break-all;
}

.ant-table-body {
  overflow-x: auto !important;
  overflow-y: auto !important;
}

div[contenteditable="false"] {
  cursor: not-allowed;
  background: #dfdfdf;
}

ul,
li {
  list-style: none;
  margin: unset;
  padding: unset;
}
