html,
body {
  margin: 0;
  padding: 0;
  background: rgb(236, 236, 236);
}

body,
#root,
.App {
  display: flex;
  flex-direction: column;
}
#root {
  flex-grow: 1;
}
.App {
  flex-grow: 1;
}
.page {
  flex-grow: 1;
}

.ant-notification {
  z-index: 10002;
}
