@import "src/styles/index.scss";

.personCenter {
  color: white;
  background: darkblue;
}

.short {
  display: flex;
  flex-wrap: wrap;
  li {
    span {
      color: $green;
      margin-right: 2px;
    }
  }
  li + li {
    margin-left: 10px;
  }
  &.showVersion {
    display: block;
    li + li {
      margin-left: unset;
    }
  }
}
