@import "src/styles/index.scss";
.selectProductId {
  border: 2px solid $green;
  color: $green;
}
.productItem {
  :global {
    .ant-card-body {
      padding-top: 5px;
    }
  }
}
.online {
  padding: 5px;
  width: 100%;

  .headerUtils {
    background: white;
    margin-bottom: 10px;
    .title {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .utils {
      padding: 5px 10px;
      display: flex;
      justify-content: flex-end;
      margin-top: 1px;
      background: white;
    }
  }

  .productList {
    display: flex;
    flex-wrap: wrap;
    > div {
      width: 20% !important;
    }
  }
  .errMsgPannel {
    background: red;
  }
  .mainheader {
    display: flex;
    justify-content: space-between;
  }
  .header {
    img {
      margin-right: 2px;
    }
    display: flex;
    align-items: center;
  }

  .imagesList {
    display: flex;
    flex-wrap: wrap;
    li {
      padding: 5px;
    }
  }
  .linkimg {
    max-height: 100px;
  }
  .versionManage {
    display: flex;
    > div + div {
      margin-left: 10px;
    }
    > div {
      display: flex;
      > span {
        margin-right: 3px;
      }
      ul {
        display: flex;
        li + li {
          margin-left: 5px;
        }
      }
    }
  }
}

.search {
  margin-bottom: 10px;
}

.preview {
  width: 80px;
  height: 80px;
  img {
    width: 100px;
  }
}
