@import "src/styles/index.scss";
.selectProductId {
  border: 2px solid $green;
  color: $green;
}
.productItem {
  :global {
    .ant-card-body {
      padding-top: 5px;
    }
  }
}
.online {
  padding: 5px;
  width: 100%;

  .headerUtils {
    background: white;
    margin-bottom: 10px;
    .title {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .utils {
      padding: 5px 10px;
      display: flex;
      justify-content: flex-end;
      margin-top: 1px;
      background: white;
    }
  }

  .productList {
    display: flex;
    flex-wrap: wrap;
    > div {
      width: 20% !important;
    }
  }
  .errMsgPannel {
    background: red;
  }
  .mainheader {
    display: flex;
    justify-content: space-between;
  }
  .header {
    img {
      margin-right: 2px;
    }
    display: flex;
    align-items: center;
  }

  .imagesList {
    display: flex;
    flex-wrap: wrap;
    li {
      padding: 5px;
    }
  }
  .linkimg {
    max-height: 100px;
  }
  .versionManage {
    > div {
      display: flex;
      .name {
        @include ellipse();
      }
      > span {
        margin-right: 3px;
      }
      ul {
        display: flex;
        li {
          @include ellipse();
        }
        li + li {
          margin-left: 5px;
          &:before {
            content: " | ";
          }
        }
      }
    }
  }
}

.search {
  margin-bottom: 10px;
}

.swiperContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 10px;
  bottom: 10px;
  :global {
    .swiper-container {
      margin: unset;
    }
  }
  .preview {
    width: 80px;
    height: 80px;
    img {
      width: 80px;
    }
  }
}
